@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Montserrat;
}

.main-header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  text-align: center; /*is it ok to use text-align here?*/
}

.menu-list {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: inline;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.menu-item-link {
  text-decoration: none;
  color: #ff0000;
}

.menu-item-link:hover {
  border-bottom: 2px solid #ff0000;
}

.main-photo {
  max-width: 100%; /*in case of 100% there is no difference between width and max-width, is it?*/
  height: auto; /*just in case to save proportions?*/
}

.main-article {
  color: #373737;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 49px;
  text-align: center;
}

.article-heading {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.article-paragraph {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin-bottom: 28px;
}

.catalog-button {
  display: block;
  margin: 66px auto 82px;
  background-color: #ff0000;
  padding: 20px 48px;
  border: none;
  border-radius: 5px;
  font-family: inherit; /*surprisingly font-family not inherited for button without such line! interesting*/
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.catalog-button-link {
  text-decoration: none;
  color: #ffffff;
}

.copyright {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  width: 39%;
  margin-left: 56vw;
  margin-bottom: 29px;
}

/*I'll try :) */
@media screen and (max-width: 750px) {
  .main-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 9px;
    line-height: 9px;
    letter-spacing: 1.3px;
  }

  .main-article {
    margin-top: 30px;
  }

  .article-heading {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1.6px;
    margin-bottom: 25px;
  }

  .article-paragraph {
    font-size: 8px;
    line-height: 13px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }

  .catalog-button {
    margin: 40px auto 50px;
    padding: 10px 24px;
    font-size: 6px;
    line-height: 6px;
    letter-spacing: 1px;
  }

  .copyright {
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 1.2px;
    margin-bottom: 18px;
  }
}
